.button {
  font: inherit;
  border: 1px solid var(--accent-color);
  background: var(--accent-color);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #106cbc;
  border-color: #106cbc;
}

.button:focus {
  outline: none;
}
